@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {

    --accent-col : #187098;
    --black-col : #000;
    --dark-col : #1D212B;
    --gray-col : #a7a7a7;
    --light-col : #fff;

}

.text-gray {
    color: var(--gray-col);
}

.accent-col {
    color: var(--accent-col);
}
.bg-accent {
    background-color: var(--accent-col);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand span {
    font-size: 16px;
}

a{
    text-decoration: none;
    color: var(--black-col);
}

i {
    font-size: 1.8rem;
    color: var(--dark-col);
}

body {
    position: relative;
    min-height: 100vh;
}

img {
    width: 100%;
}

hr {
    height: 5px;
    border-radius: 2px;
    width: 50px;
    margin: 1rem auto;
    background: var(--accent-col);
}

.divider {
    width: 100%;
    margin: 0;
}

/* ==================== AUTH =================== */

.bg-accent-gradient {
    background: linear-gradient(45deg, var(--accent-col), #7ac0e1);
}
  /* =================== nav ======================*/

 .nav-link {
    color: var(--dark-col);
 }

 .search {
    border: none;
    background: none;
 }

 .nav-icon i {
    transition: .3s ease;
 }

 .nav-icon:hover i {
    color: var(--accent-col);
 }

/* ================= UNIVERSAL STYLE ================== */

.alert-login {
    background-color: rgb(42, 42, 42);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    text-align: center;
}



/* ================== LOGO ========================= */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo__img {
    width: 50px;
    border-radius: 1rem;
}

.logo span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: var(--accent-col);
}

/* ================= SHOP ===================== */

.shop {
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

/* =============== NAV-LINKS ================== */

.nav-link {
    padding: 1rem;
    position: relative;
    cursor: pointer;
}

.notif {
    width: 20px;
    height: 20px;
    background-color: var(--accent-col);
    border-radius: 50%;
    position: absolute;

    right: 0;
    top: 0;
    transform: translate(-30%, 50%);
}

/* ================ HERO SLIDER ===================== */
.slider-container {
    width: 100%;
}

.swiper {
    width: 100%;
    margin: 0;
    background-color: var(--dark-col);
    filter: brightness(90%);
    transition: .3s ease;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: var(--light-col);
    width: 40px;
    height: 3px;
    border-radius: 2px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--accent-col);
}

/* ========================= FORM LOGIN =============================== */

.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border-radius: 16px;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 2rem;
}

.login-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background: #F2F2F2;
}

.login-form form h3 {
    color: var(--accent-col);
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
    max-width: 250px;
}

.form-group input {
    border: none;
    outline: none;
    border-radius: 8px;
    height: 1.6rem;
    width: 250px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    border: 3px solid transparent;
}

.form-group input:focus {
    border-color: var(--accent-col);
}

.btn-play {
    width: fit-content;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 3rem;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: var(--accent-col);
    color: var(--light-col);
    cursor: pointer;
    transition: .3s ease-out;
}

.btn-play:hover {
    background-color: var(--dark-col);
    color: var(--light-col);
}

.btn-play span {
    position: relative;
}

.btn-play span i {
    position: absolute;
    font-size: 1rem;
    top: 50%;
    right: 0;
    transform: translate(200%, -50%);
    color: var(--light-col);
}

.login-form .f-pass {
    font-size: .7rem;
    opacity: .6;
    margin: 0 auto;
    margin-bottom: 1rem;
}

/* ==================== REGISTER ===================== */

.register-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background: linear-gradient(120deg, var(--accent-col), hsla(199, 73%, 35%, 0.442));
    color: var(--light-col);
}

.register-con p {
    max-width: 300px;
    margin-bottom: 1rem;
}
.btn-regis {
    background-color: var(--light-col);
    color: var(--accent-col);
}
.login-form form .logo {
    margin-bottom: 1rem;
    align-self:flex-start;
}

.login-form form .logo span {
 font-size: 1rem;
}

.login-form form .logo .logo__img {
    width: 30px;
    border-radius: 8px;

}

/* =============== BEST PRODUCT SECTION =================== */

.best-product 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.product-con .product {
    display: block;
    padding: 1rem;
    width: 300px;
    border-radius: 1rem;
    box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.162);
    background: var(--light-col);
    background: linear-gradient(90deg,var(--light-col), var(--light-col));
    transition: all .3s ease-in;
    margin: 1rem;
}

.product-con .product:hover {
    transform: scale(1.01);
}

.product-con .product img {
    width: 100%;
    border-radius: .6rem;
}

.product-con .product .detail-product {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
}

.product-con .product .detail-product .product-name {
    font-size: 1rem;
}

.detail-product .m-detail span {
    display: block;
}

.detail-product .m-detail .sale {
    font-size: .8rem;
    opacity: .7;
    text-align: right;
}

.detail-product .m-detail .price {
    font-size: .9rem;
}

.heading {
    color: var(--accent-col);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/* =================== PRODUCT ==================== */

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.single-product .image-container img {
    max-width: 300px;
}

/* ============= FOOTER ======================= */
.ftco-section {
    padding: 12em 0; 
}
.ftco-section h2 {
      margin-bottom: 0; 
    }

footer {
    padding: 7em 0; 
}
  
.footer {
    background: var(--dark-col); 
}
.footer p {
    color: rgba(255, 255, 255, 0.3); 
}
.footer .footer-heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px; 
}
.footer .footer-heading .logo {
    color: #fff; 
}
.footer .menu {
    margin-bottom: 30px; 
}
.footer .menu a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px; 
}
.footer .ftco-footer-social li a {
    background: transparent;
    border: 1px solid #a3de83; 
}
  
.socmed-icon {
    width: 60px;
    height: 60px;
    transition: .25s ease;
}

.socmed-icon:hover {
    color: var(--accent-col);
}









